* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bloco {
    margin: 10px auto;
    width: 200px;
    padding: 10px;
    text-align: center;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: black;
}

.bloco p {
    margin-top: 5px;
    font-size: 24px;
}

.caixa {
    background-color: crimson;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    width: 120px;
    padding: 20px;
    margin: 10px auto;
    transition: 2s
}

.botao {
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    cursor: pointer;
    transition: 1s;
}

.translate:hover {
    transform: translate(-100px);
}

.scale:hover {
    transform: scale(1.4);
}

.rotate:hover {
    transform: rotate(180deg);
}

.skew:hover {
    transform: skew(20deg, 20deg);
}

.hover {
    transition: 2s;
}

.hover:hover {
    transform: scale(1.4);
}

.botao:hover {
    transform: scale(1.4);
}