* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.texto {
    line-height: 3;
    word-spacing: 10px;
    color: white;
}

.caixa {
    background-color: blue;
    border: 2px solid blue;
    padding: 10px;
    margin-bottom: 30px;
}

.tamanho-fixo {
    background-color: red;
    width: 200px;
    height: 200px;
}

.largura {
    background-color: blueviolet;
    min-width: 200px;
    max-width: 500px;
    width: 100%;
}

.altura {
    background-color: darkgreen;
    width: 400px;
    min-height: 100px;
    max-height: 200px;
}

.overflow-x {
    background-color: darkorange;
    width: 300px;
    overflow-x: auto;
    white-space: nowrap;
}

.overflow-y {
    background-color: deeppink;
    width: 300px;
    height: 100px;
    overflow-y: auto;
}

.overflow-total {
    background-color: darkcyan;
    width: 300px;
    height: 150px;
    overflow: auto;
    white-space: nowrap;
}