* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
    
body {
    background:#eef2f5;
}
    
header {
    background:#0d47a1;
    color:white;
    text-align:center;
    padding:40px;
}
    
.cards {
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:40px;
}
    
.card {
    width:260px;
    background:white;
    padding:30px;
    text-align:center;
    border-radius:15px;
    box-shadow:0 0 12px rgba(0,0,0,.2);
    transition:.5s;
}
    
.card i {
    font-size:60px;
    color:#0d47a1;
    margin-bottom:20px;
    transition:.5s;
}
    
.card h2 {
    margin-bottom:15px;
}
    
.card p {
    margin-bottom:20px;
}
    
button {
    padding:12px 25px;
    border:none;
    background:#0d47a1;
    color:white;
    border-radius:8px;
    cursor:pointer;
}
    
.card:hover {
    transform:scale(1.08)
    rotate(3deg)
    skew(-2deg)
    translateY(-10px);
}
    
.card:hover i {
    transform:rotate(360deg);
}
    
button:hover {
    transform:scale(1.1);
}