* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: navy;
    width: 500px;
    margin: 5px;
    padding: 10px;
}

.item {
    background-color: coral;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.sem-repeat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.com-repeat {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.repeat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px);
    gap: 10px;
}