* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bloco {
    margin: 10px auto;
    width: 600px;
    padding: 10px;
    text-align: center;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: black;
}

.bloco p {
    margin-top: 10px;
    font-size: 20px;
}

.bloco h2 {
    margin-bottom: 10px;
}

button {
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    cursor: pointer;
    transition: 1s;
}

.b-transition {
    transition: 2s;
}

.b-transition:hover {
    transform: scale(1.6);
}

.b-property {
    width: 180px;
    transition-property: width;
    transition-duration: 2s;
}

.b-property:hover {
    width: 400px;
    background-color: navy;
}

.b-duration {
    transition-duration: 2s;
}

.b-duration:hover {
    transform: scale(1.6);
}

.b-delay {
    transition-duration: 2s;
    transition-delay: 0.5s;
}

.b-delay:hover {
    transform: translate(15px);
}

.b-timing {
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

.b-timing:hover {
    transform: translate(10px);
}

.animado {
    transition: transform 2s, box-shadow 3s;
}

.animado:hover {
    transform: scale(1.1);
    box-shadow: 1px 10px 10px white;
}