* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*::before- Inserir conteúdo antes de um elemento*/
.titulo::before
{
    content: "# ";
    color: red;
}

/*::after- Inserir conteúdo após um elemento*/
.titulo::after
{
    content: " $";
    color: blue;
}

/*::first-letter- Estilize a primeira letra do texto*/
p::first-letter
{
    font-size: 30px;
    font-weight: bold;
    color: green;
}

/*::first-line- Formate a primeira linha de texto*/
.primeira-linha::first-line{
    color: brown;
}

/*::selection- Estilizar texto selecionado pelo usuário*/
p::selection
{
    background-color: black;
    color: white;
}

input::placeholder
{
    color: gray;
    font-style: italic;
}

ul {
    margin: 50px;
}

/*::marker- Marcadores de itens de lista de estilo*/
li::marker
{
    color: purple;
    font-size: 20px;
}

