* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.largura-total {
    
    background-color: blue;
    width: 100vw;
    padding: 20px;
}

.largura-metade {
    background-color: red;
    width: 50vw;
    padding: 20px;
}

.altura-metade {
    background-color: yellow;
    height: 50vh;
    padding: 20px;
}

.altura-total {
    background-color: purple;
    height: 100vh;
    padding: 20px;
}
